.page-container {
    position: relative;
    min-height: 100vh;
}

/* Global styling for Mobile (less than 598px) devices */

body {
    font-family: sans-serif, "Aclonica";
    background-color: #FEFCF5;
}

/* Home */
h1 {
    font-family: "Aclonica", sans-serif;
}

.home button {
    font-size: .5rem;
    margin: 0;
}

.home-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
}

.home-quiz-without-arrow {
    padding: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-quiz-content {
    text-align: left;
    color: #5C770B;
    margin-left: 5%;
}



.home-quiz img {
    max-width: 55%;
}

.home-quiz img.arrow {
    width: 4%;
}

button {
    background-color: #434834;
    font-weight: lighter;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: smaller;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 15px;
}

.home-stores {
    padding: 3%;
    padding-bottom: 0;
    background-color: #f2ede1;
    text-align: left;
}

.home-stores img,
.home-events img,
.home-about img {
    max-width: 53%;
}

.home-stores-without-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-stores-content {
    text-align: left;
    margin-left: 4%;
}

.home-events {
    padding: 3%;
    padding-top: 0;
    background-color: #f2ede1;
    text-align: right;
}

.home-events-without-title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 2%;
}

.home-events-content {
    text-align: left;
    margin-right: 4%;
}

.home-stores h1 {
    padding-bottom: 3%;
    color: #434834;
}

.home-events h1 {
    padding: 3% 0;
    color: #434834;
}

.home-about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5% 3% 3% 3%;

}

.home-about-content {
    text-align: center;
    margin-right: 4%;
}

.home-stores p,
.home-events p,
.home-about p {
    color: black;
    line-height: 1.6;
    font-weight: lighter;
    font-size: 10px;
}


/* Events */
.eventCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
}

.eventCards .card {
    border: none;
    background: #FEFCF5;
    border-radius: 15px;
    width: 30%;
    text-align: center;
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eventCards .card img {
    border-radius: 15px 15px 0 0;
}

.eventCards .card h1 {
    font-size: 1.3rem;
}

.eventCards .card .card-content {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.eventCards button {
    background-color: #434834;
    border: none;
    border-radius: 0 0 15px 15px;
    width: 100%;
    margin: 0;
    font-weight: lighter;
    font-size: 0.8rem;
    padding: 5%;
}

.eventCards button:hover {
    background-color: #4b5239;
}

.eventPage {
    background: white;
}

.eventPage .banner {
    background-image: url("./images/event.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
    padding: 10% 0;
    position: relative;
}

.eventPage .search-container {
    flex-grow: 1;
    margin-right: 1rem;
}

.search-box {
    margin-left: 5%;
    border-color: #BDA3C9;
}

.eventPage .inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 4rem;
}

.eventPage .inputs .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 5%;
    gap: 1rem;
}

.dropdown button {
    background-color: white;
    color: black;
    border-color: rgb(222, 226, 230);
}

.dropdown button:hover {
    background-color: #f6f6f6;
    color: black;
    border-color: #BDA3C9;
}

/* Stores (using most of event styling) */
.storeCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
}

.storeCards .card {
    border: none;
    background: #FEFCF5;
    border-radius: 15px;
    width: 30%;
    text-align: center;
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.storeCards .card img {
    border-radius: 15px 15px 0 0;
}

.storeCards .card h1 {
    font-size: 1.3rem;
}

.storeCards .card .card-content {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.storeCards button {
    background-color: #434834;
    border: none;
    border-radius: 0 0 15px 15px;
    width: 100%;
    margin: 0;
    font-weight: lighter;
    font-size: 0.8rem;
    padding: 5%;
}

.storeCards button:hover {
    background-color: #4b5239;
}

.storePage {
    background: white;
}

.storePage .banner {
    background-image: url("./images/store.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
    padding: 10% 0;
    position: relative;
}

.storePage .search-container {
    flex-grow: 1;
    margin-right: 1rem;
}

.storePage .inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 4rem;
}

.storePage .inputs .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 5%;
    gap: 1rem;
}

/* About */
.about-us {
    background-image: url("./images/about-bg-1.png");
}

.about img {
    max-width: 10%;
}

/* Quiz */
.quiz-intro-container {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.top-banner,
.image-left,
.image-right,
.bottom-image {
    position: absolute;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-banner {
    top: 5%;
    left: 5%;
    width: 200px;
    height: 200px;
    z-index: 2;
}

.top-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-left {
    top: 52%;
    left: 10%;
    width: 250px;
    height: 280px;
    z-index: 1;
}

.image-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-right {
    top: 60%;
    left: 65%;
    width: 300px;
    height: 200px;
    z-index: 3;
}

.image-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.bottom-image {
    position: absolute;
    top: 5%;
    left: 70%;
    width: 350px;
    height: 450px;
    border-radius: 15px;
    z-index: 1;
}


.quiz-intro-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 100%;
    text-align: center;
    color: #5C770B;
}

/* nav */
nav {
    margin: 0 3%;
}

header {
    background-color: #F2EDE1;
}

/* Details */
.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.details img {
    max-width: 35%;
}


/* Media */
@media (min-width: 598px) {
    .homeContainer {
        padding-top: 45%;
    }

    .home button {
        margin: 10px 2px;
        font-size: smaller;
    }

    .home-stores p,
    .home-events p,
    .home-about p {
        font-size: 13px;
    }


}

@media (min-width: 768px) {

    .home-stores p,
    .home-events p,
    .home-about p {
        font-size: 16px;
    }

    .nav-logo img {
        max-height: 80px;
    }

    .nav-logo {
        margin-left: 2%;
    }

    .nav-item {
        margin: 0 10px;
    }

    .details {
        flex-direction: row;
        justify-content: space-evenly;
        height: 75vh;
    }

    .details .contentContainer {
        text-align: left;
        max-width: 60%;
    }

    .homeContainer {
        padding-top: 35%;
    }

    .home-quiz img.arrow {
        width: 3%;
    }

    .banner h1 {
        font-size: 3rem;
    }

    .nav-item {
        margin: 0 20px;
    }

    .home h1 {
        font-size: 2.5rem;
    }

}

@media (min-width: 992px) {
    .eventCards {
        margin: 2rem 6rem;
    }

    .eventPage .inputs {
        margin: 2rem 8rem;
    }

    .storeCards {
        margin: 2rem 6rem;
    }

    .storePage .inputs {
        margin: 2rem 8rem;
    }

    .banner p {
        font-size: 1.2rem;
    }

    .home h1 {
        font-size: 3rem;
    }
}