/* Footer */
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}

/* Footer end */


/* Global styling for Mobile (less than 598px) devices */
.eventCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* About */
.topImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    height: 35vh;
    border-radius: 15px;
    border: 2px solid black;
    overflow: hidden;
}

.bottomImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    height: 35vh;
    overflow: hidden;
    gap: 5%;
}

.bottomContainerItem {
    flex: 1;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

.aestheticImg {
    width: 100%;
    height: 100%;
}

/* navbar */
.nav {
    display: flex;
}

.nav-logo {
    margin-right: auto;
}

.nav-logo img {
    max-width: 100px;
    max-height: 100px;
}

.nav-item {
    padding-right: 30px;
}


/* Media */
@media (min-width: 598px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}