/* Footer */
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
}


/* Global styling for Mobile (less than 598px) devices */

body {
    font-family: sans-serif, "Aclonica";
    /* For nav */
    margin-top: 80px;
    padding-top: 0;
    background-color: #FEFCF5;
}

/* Home */
.home h1 {
    font-family: "Aclonica", sans-serif;
}

.home-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
    padding-top: 1%;
}

.home-quiz-without-arrow {
    padding: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-quiz-content {
    text-align: left;
    color: #5C770B;
    margin-left: 5%;
}

.home-quiz img {
    max-width: 55%;
}

.home-quiz img.arrow {
    width: 4%;
}

button {
    background-color: #434834;
    font-weight: lighter;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: smaller;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 15px;
}

.home-stores {
    padding: 3%;
    padding-bottom: 0;
    background-color: #f2ede1;
    text-align: left;
}

.home-stores img,
.home-events img,
.home-about img {
    max-width: 53%;
}

.home-stores-without-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-stores-content {
    text-align: left;
    margin-left: 4%;
}

.home-events {
    padding: 3%;
    padding-top: 0;
    background-color: #f2ede1;
    text-align: right;
}

.home-events-without-title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 2%;
}

.home-events-content {
    text-align: left;
    margin-right: 4%;
}

.home-stores h1 {
    padding-bottom: 3%;
    color: #434834;
}

.home-events h1 {
    padding: 3% 0;
    color: #434834;
}

.home-about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5% 3% 3% 3%;

}

.home-about-content {
    text-align: center;
    margin-right: 4%;
}

.home-stores p,
.home-events p,
.home-about p {
    color: black;
    line-height: 1.6;
    font-weight: lighter;
}


/* Events */
.eventCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* About */
.about-us {
    background-image: url("./images/about-bg-1.png");
}

img {
    max-width: 10%;
}

/* Quiz */
.quiz-intro-container {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.top-banner,
.image-left,
.image-right,
.bottom-image {
    position: absolute;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.top-banner {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    z-index: 2;
}

.image-left {
    bottom: 15%;
    left: 2%;
    transform: rotate(4deg);
    width: 40%;
    z-index: 1;
}

.image-right {
    top: 30%;
    left: 65%;
    width: 500px;
    height: 400px;
    z-index: 3;
}

.bottom-image {
    bottom: 5%;
    right: 15%;
    width: 20%;
    z-index: 1;
}

.quiz-intro-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 100%;
    text-align: center;
    color: #fff;
}


/* navbar */
header {
    background-color: #fefcf5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    /* box-shadow: 0 0 10px 0 black; */
    /* z-index: 1000; */
}

.nav {
    background-color: #f2ede1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 80px;
    text-decoration: none;
    padding-left: 3%;
    padding-right: 3%;
}

.text-decoration-none {
    color: black;
}

.text-decoration-none:hover {
    color: grey;
}

.nav-logo {
    margin-right: auto;
    margin-left: 2%;
}

.nav-logo img {
    max-height: 80px;

}

.nav-item {
    margin: 0 20px;
}

/* Details */
.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.details img {
    max-width: 35%;
}


/* Media */
@media (min-width: 598px) {
    .homeContainer {
        padding-top: 45%;
    }
}

@media (min-width: 768px) {
    .details {
        flex-direction: row;
        justify-content: space-evenly;
        height: 75vh;
    }

    .details .contentContainer {
        text-align: left;
        max-width: 60%;
    }

    .homeContainer {
        padding-top: 35%;
    }

    .home-quiz img.arrow {
        width: 3%;
    }

}

@media (min-width: 992px) {}